
@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}


@mixin box {

  transition: all 2000ms ease;
  font-family: 'Passio';
  color:white;
  background-color: white;
  clip-path: circle(4.2% at 20% 20%);
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 40vw;
  height: 45vh;
  align-items: center;
  justify-content: center;
  filter: brightness(0%);

      &:hover {
        font-family: 'Passio';
        color:black;
        background-color: white;
        clip-path: circle(140.2% at 50% 50%);
        filter: brightness(100%);
      }

      &:visited {
         color: green;
      }

}

$base-color: #036;

@for $i from 1 through 16 {

  .block#{$i} {
    width: 40vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
    margin-left:  random(70) + vh;
    }
}


.main{

  display: inline-flex;
  flex-wrap: wrap;

}

.block{

  //border: 1px solid black;
  width: 40vw;
  height: 25vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 450px;

}
.block:hover{

}


.box{

  @include box

  figure.image{

  }
  span{
    margin-right: 5px;
  }

}








#points{
  width: 100%;
  height:400%;
  z-index: -2;
  position:absolute;

}

.name{
  font-family: 'Passio';
  font-weight:bold;
  font-size: 3em;
  color: black;
}

.cube{
   transition: all 1000ms ease-out;
  font-family: 'Passio';
  color:white;
  background-color: white;
  width: 40vw;
  height: 45vh;
  clip-path: polygon(0 30%,
      30% 0,
      50% 0,
      50% 30%,
      30% 50%,
      0 50%);
      filter: brightness(0%);
    img{
      opacity: 0;
      height: 10px;
    }
}

.cube:hover{
  font-family: 'Passio';
  color:black;
  background-color: white;
  clip-path: polygon(0 0,
   50% 0,
   100% 0,
   100% 50%,
   100% 100%,
   0 100%);
   img{
     opacity: 1;
     display: inline-flex;
     height: 25vh;
   }
   filter: brightness(100%);
}





.hr{


}
